<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
  <title>{{ title }}</title>
  <!-- libs:css -->
  <link rel="stylesheet" href="./libs/bxslider/src/jquery.bxslider.css">
  <link rel="stylesheet" href="./libs/fancybox/css/jquery.fancybox.css">
  <link rel="stylesheet" href="./libs/fullpage/css/jquery.fullpage.min.css">
  <link rel="stylesheet" href="./libs/msgBox/css/lobibox.min.css">
  <link rel="stylesheet" href="./libs/slick/css/slick.css">
  <!-- endinject -->
  <!-- dev:css -->
  <link rel="stylesheet" href="./css/screen.css">
  <!-- endinject -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <header>
	{% include '../layouts/header.html' %}
  </header>
  <main> 
	{% block content %}{% endblock %}
  </main>
  <footer>
    {% include '../layouts/footer.html' %}
  </footer>
  <script src="./libs/jquery/js/jquery.min.js"></script>
  <!--libs:js-->

  <!--endinject-->
  <!--dev:js-->
  <script src="./js/main.js"></script>
  <!--endinject-->
</body>


</html>